div {
    margin: 0;
}

.footer-all {
    padding: 3rem 2rem;
    background-color: #282c36;
    max-width: 100%;
    color: rgb(241, 241, 241);
}

.footer-all img {
    width: 30%;
}
.footer-div-2{
    text-align: right;
}