<div class="admissao-all container">
  <h2>SAIBA COMO ENTRAR NO EAD FAESA</h2>
  <div class="row">
    <div class=" sm-3 col card" style="width: 18rem;">
      <img src="/assets/imgComoEntrar1.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">VESTIBULAR ONLINE</h5>
        <p class="card-text">Com o Vestibular Online, você faz a prova para entrar na graduação quando e onde quiser.
          Você só precisa se inscrever para receber o link de acesso à prova no seu e-mail.</p>
      </div>
    </div>
    <div class="sm-3 col card" style="width: 18rem;">
      <img src="/assets/imgComoEntrar2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">VESTIBULAR AGENDADO</h5>
        <p class="card-text">O que separa você da sua graduação é apenas uma redação. Agende sua prova no melhor dia e
          horário e comece o curso que você sempre quis.</p>
      </div>
    </div>
    <div class="sm-3 col card" style="width: 18rem;">
      <img src="/assets/imgComoEntrar2.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ENEM</h5>
        <p class="card-text">ENEMJá fez o ENEM? Inscreva-se com a sua nota para começar a sua graduação aqui sem
          vestibular, sem complicações e com até 100%* de bolsa.</p>
      </div>
    </div>
  </div>



  <div class="row admissao-grupo-2">
    <div class="sm-6 col card" style="width: 18rem;">
      <img src="/assets/imgComoEntrar3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SEGUNDA GRADUAÇÃO</h5>
        <p class="card-text">A 2ª graduação é a especialidade que você procura. O diploma na área que você sempre quis
          não
          precisa de vestibular, é só apresentar seu 1º diploma pra começar e ganhar até 35%** de bolsa.</p>
      </div>
    </div>
    <div class="sm-6 col card " style="width: 18rem;">
      <img src="/assets/imgComoEntrar4.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TRANSFERÊNCIA</h5>
        <p class="card-text">Sua graduação começou bem, mas pode terminar ainda melhor. Transfira seu curso, estude no
          EAD
          FAESA sem fazer um novo vestibular e ganhe bolsa de 35%***.</p>
      </div>
    </div>
  </div>
</div>