<section class="sobre-all container">

  <div class="sobre mb-3">
    <h5 class="">Sobre o curso</h5>
    <p class="">
      Estudar Análise e Desenvolvimento de Sistemas EAD da FAESA é praticar em laboratórios de ponta e com empresas de
      renome, como Microsoft, IBM, Oracle e SAP.
      <br>
      <br>
      No curso, você aprenderá a criar, projetar, analisar, testar,
      implantar e manter sistemas computacionais de informação, os quais ajudam a tornar as máquinas e os sistemas
      mais eficientes. O diferencial da FAESA é a constante atualização de seus laboratórios e a formação dos
      professores, visto que esta é uma área em constante mudança.
      <br>
      <br>Para o mercado de trabalho, o aluno se
      prepara com um ensino bastante prático, por meio das parcerias com empresas e o Programa Radar de Talentos, que
      coloca o estudante em contato com oportunidades de trabalho.
      <br>
      <br>
      Faça parte do futuro da tecnologia. Estude
      tecnólogo em Análise de Desenvolvimento de Sistemas!
      <br>
      <br>
    </p>
  </div>
  <div class="form-sobre mb-3">
    <h2>QUER MAIS INFORMAÇÕES SOBRE OS MELHORES CURSOS EAD DO PAÍS?</h2>
    <p>Entre em contato conosco e tire todas as suas dúvidas.</p>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="" aria-label="">
      </div>
      <div class="col-md-6">
        <label for="nome" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" placeholder="" aria-label="">
      </div>

      <div class="mb-3">
        <label for="inputPassword4" class="form-label">Telefone</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Ex.(27)98888-7777">
      </div>

      <div class="mb-3">
        <label for="inputEmail4" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Fale conosco</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</section>