.sobre-all {
    display: flex;
    margin: 50px auto ;
    
}

.sobre {
    max-width: 30%;
    margin: 0 auto ;
     
}

.sobre h5 {
    color: #009ddf;
    font-size: 45px;
    line-height: 24px;
}

.sobre p {
    margin: 30px 0 0 0;
}
.form-sobre{
    
    float: left;
    width: 30%;
    margin: 0 auto;
}
.form-sobre h2{
    color: #009ddf;
    font-size: 25px;
    line-height: 24px;
}
