<section>
  <!-- <div class="sobre">
    <h2>Sobre o curso</h2>
    <p>Estudar Análise e Desenvolvimento de Sistemas EAD da FAESA é praticar em laboratórios de ponta e com empresas de
      renome, como Microsoft, IBM, Oracle e SAP.No curso, você aprenderá a criar, projetar, analisar, testar, implantar
      e
      manter sistemas computacionais de informação, os quais ajudam a tornar as máquinas e os sistemas mais eficientes.
      O
      diferencial da FAESA é a constante atualização de seus laboratórios e a formação dos professores, visto que esta é
      uma área em constante mudança.Para o mercado de trabalho, o aluno se prepara com um ensino bastante prático, por
      meio das parcerias com empresas e o Programa Radar de Talentos, que coloca o estudante em contato com
      oportunidades
      de trabalho.Faça parte do futuro da tecnologia. Estude tecnólogo em Análise de Desenvolvimento de Sistemas!</p>
  </div> -->
  <div class="sobre" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Sobre o curso</h5>
      <p class="card-text">Estudar Análise e Desenvolvimento de Sistemas EAD da FAESA é praticar em laboratórios de
        ponta e com empresas de
        renome, como Microsoft, IBM, Oracle e SAP.No curso, você aprenderá a criar, projetar, analisar, testar,
        implantar
        e
        manter sistemas computacionais de informação, os quais ajudam a tornar as máquinas e os sistemas mais
        eficientes.
        O
        diferencial da FAESA é a constante atualização de seus laboratórios e a formação dos professores, visto que esta
        é
        uma área em constante mudança.Para o mercado de trabalho, o aluno se prepara com um ensino bastante prático, por
        meio das parcerias com empresas e o Programa Radar de Talentos, que coloca o estudante em contato com
        oportunidades
        de trabalho.Faça parte do futuro da tecnologia. Estude tecnólogo em Análise de Desenvolvimento de Sistemas!</p>

    </div>
  </div>
  <div class="form-group">
    <form action=""></form>
  </div>
</section>