<nav class="navbar navbar-dark bg-primary">
  <div class="container container-fluid">
    <a class="navbar-brand" href="https://ead.faesa.br/cursos-graduacao/analise-e-desenvolvimento-de-sistemas-ead" ><img src="/assets/logoColorida.webp" alt="Logo" width="200" height="56" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" id="dropdownMenuButton"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Alguma ação</a>
    <a class="dropdown-item" href="#">Outra ação</a>
    <a class="dropdown-item" href="#">Alguma coisa aqui</a>
  </div>
</nav>