<div class="informacao-all container">
  <div class="card sm-4" style="width: 18rem;">
    <div class="card-body">
      <img src="/assets/icon-toga.webp" alt="">
      <h5 class="card-title">TÍTULO</h5>
      <p class="card-text">TECNÓLOGO</p>
    </div>
  </div>

  <div class="card  sm-4" style="width: 18rem;">
    <div class="card-body">
      <img src="/assets/icon-calendar.webp" alt="">
      <h5 class="card-title">DURAÇÃO</h5>
      <p class="card-text">2,5 ANOS</p>
    </div>
  </div>

  <div class="card sm-4" style="width: 18rem;">
    <div class="card-body">
      <img src="/assets/icon-quadro.webp" alt="">
      <h5 class="card-title">MODALIDADE</h5>
      <p class="card-text">EAD</p>
    </div>
  </div>
  <div class="card sm-4" style="width: 18rem;">
    <div class="card-body">
      <img src="/assets/icon-relogio.webp" alt="">
      <h5 class="card-title">CARGA HORÁRIA</h5>
      <p class="card-text">2.000h</p>
    </div>
  </div>
</div>